@import url("https://fonts.googleapis.com/css?family=Comfortaa:300,400,700");

:root {
  --round-button-active-color: #b934ff;
  --translate-main-slider: 200%;
  --main-slider-color: #2e004f;
  --translate-filters-slider: 0;
  --filters-container-height: 0;
  --filters-wrapper-opacity: 0;

  --bg-image: linear-gradient(315deg, #5900a0 0%, #181c1b 74%);
  --bg-color-circle: #1a002f;
  --bg-color-skelet: #410179;
  --bg-color-orbits: #410179;
  --light-color-topright: #d4d4d4;
  --light-color-right: #ffffff;
  --light-color-frontright: #aee0e6;
  --light-color-bottomleft: #d9db72;
}
/* Preloader */
.preloader {
  background: #040404;
  left: 0;
  top: 0;
  right:0;
  bottom:0;
  z-index: 999999999;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
}

.imgpreloader {
  height: 150px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.pswp__preloader__icn {
  opacity:0.75;
  width: 14px;
  height: 14px;
  -webkit-animation: clockwise 500ms linear infinite;
  animation: clockwise 500ms linear infinite;
  position: fixed;
  top: 49.5%;
  left: 49.7%;
  transform: translate(-50%, -50%);
}

.pswp__preloader__cut {
  position: relative;
  width: 7px;
  height: 14px;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
}

.pswp__preloader__donut--fake {
  box-sizing: border-box;
  width: 14px;
	height: 14px;
  border: 2px solid red;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
	background: none;
	margin:0;
}

.pswp__preloader__donut {
  box-sizing: border-box;
  width: 14px;
	height: 14px;
  border: 2px solid #FFF;
  border-radius: 50%;
  border-left-color: transparent;
  border-bottom-color: transparent;
  position: absolute;
  top: 0;
  left: 0;
	background: none;
	margin:0;
  -webkit-animation: donut-rotate 1000ms cubic-bezier(.4,0,.22,1) infinite;
  animation: donut-rotate 1000ms cubic-bezier(.4,0,.22,1) infinite;

}

@-webkit-keyframes clockwise {
  0% { -webkit-transform: rotate(0deg) }
  100% { -webkit-transform: rotate(360deg) }
}
@keyframes clockwise {
  0% { transform: rotate(0deg) }
  100% { transform: rotate(360deg) }
}
@-webkit-keyframes donut-rotate {
  0% { -webkit-transform: rotate(0) }
  50% { -webkit-transform: rotate(-140deg) }
  100% { -webkit-transform: rotate(0) }
}
@keyframes donut-rotate {
  0% { transform: rotate(0) }
  50% { transform: rotate(-140deg) }
  100% { transform: rotate(0) }
}

/* Background */
#bg {
  z-index: -1;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  position: fixed;
  background-image: var(--bg-image);
}
/* Navbar */
.navbar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  bottom: 5px;
  position: relative;
  z-index: 9;
  padding-top: 0;
}

.navbar button {
  border: none;
  cursor: pointer;
  background-color: transparent;
  outline: none;
}

.navbar .amazing-tabs {
  background-color: #2b2b2b;
  border-radius: 25px;
  user-select: none;
  padding-top: 10px;
  position: fixed;
  bottom: 5px;
}

.navbar .main-tabs-wrapper {
  position: relative;
}

.navbar ul.main-tabs,
.navbar ul.filter-tabs {
  list-style-type: none;
  display: flex;
}

.navbar ul.main-tabs {
  padding: 0 !important;
  margin: 0;
  justify-content: center;
}

.navbar ul.main-tabs li {
  display: inline-flex;
  position: relative;
  padding: 15px;
  z-index: 1;
}

.navbar .avatar,
.navbar .avatar img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  pointer-events: none;
}

.navbar .avatar img {
  object-fit: cover;
}

.navbar .round-button {
  height: 48px;
  width: 48px;
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: white;
  transition: color 0.2s ease-in-out;
}

.navbar .round-button:hover,
.navbar .round-button.active {
  color: var(--round-button-active-color);
}

.navbar .round-button svg {
  pointer-events: none;
  height: 28px;
  width: 28px;
  transform: translate(0, 0);
}

.navbar .main-slider {
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  padding: 15px;
  z-index: 0;
  transition: transform 0.4s ease-in-out;
  transform: translateX(var(--translate-main-slider));
}

.navbar .main-slider-circle {
  height: 48px;
  width: 48px;
  border-radius: 50%;
  transition: background-color 0.4s ease-in-out;
  background-color: var(--main-slider-color);
}

.navbar .animate-jello {
  animation: jello-horizontal 0.9s both;
}

@keyframes jello-horizontal {
  0% {
    transform: scale3d(1, 1, 1);
  }
  30% {
    transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    transform: scale3d(1, 1, 1);
  }
}

.navbar .filters-container {
  overflow: hidden;
  padding-left: 10px;
  padding-right: 10px;
  transition: max-height 0.4s ease-in-out;
  max-height: var(--filters-container-height);
}

.navbar .filters-wrapper {
  position: relative;
  transition: opacity 0.2s ease-in-out;
  opacity: var(--filters-wrapper-opacity);
}

.navbar .filter-tabs {
  border-radius: 10px;
  padding: 3px !important;
  margin: 0 !important;
  overflow: hidden;
  background-color: #00416a;
}

.navbar .filter-tabs li {
  position: relative;
  z-index: 1;
  display: flex;
  flex: 1 0 33.33%;
}

.navbar .filter-button {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  flex-grow: 1;
  height: 30px;
  padding-top: 20px;
  color: #77dde7;
  font-family: "Comfortaa", cursive;
  font-weight: 400;
  font-size: 14px;
}

.navbar .filter-button.filter-active p {
  transition: color 0.4s ease-in-out;
  color: #77dde7;
}

.navbar .filter-slider {
  pointer-events: none;
  position: absolute;
  padding: 3px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
}

.navbar .filter-slider-rect {
  height: 30px;
  width: 33.33%;
  border-radius: 8px;
  background-color: #2b2b2b;
  box-shadow: 0 0.1px 1px -0.4px rgba(0, 0, 0, 0.12);
  transition: transform 0.4s ease-in-out;
  transform: translateX(var(--translate-filters-slider));
}

.navbar .list-container {
  position: fixed;
  bottom: 100px;
}

.navbar .list-container.active .more-button-list {
  opacity: 1;
  transform: scale(1);
}

.navbar .list-container.active .more-button-list-item {
  animation: fadeInItem 0.6s 0.2s forwards;
}

.navbar .list-container.active .more-button-list-item:nth-child(2) {
  animation-delay: 0.4s;
}

.navbar .list-container.active .more-button-list-item:nth-child(3) {
  animation-delay: 0.6s;
}

.navbar .list-container.active .more-button-list-item:nth-child(4) {
  animation-delay: 0.8s;
}

.navbar .list-container.active .more-button {
  animation: onePulse 0.6s forwards linear;
}

.navbar .list-container.active .menu-icon-wrapper {
  transform: rotate(0deg);
}

.navbar .list-container.active .menu-icon-line.first {
  transform: rotate(-90deg) translateX(1px);
}

.navbar .list-container.active .menu-icon-line.last {
  transform: rotate(-90deg) translateX(-1px);
}

.navbar .more-button-list {
  background-color: #2b2b2b;
  border-radius: 8px;
  list-style-type: none;
  width: 140px;
  height: 100px; /*это изменяем размер меню*/
  box-shadow: 0px 0px 4px 4px rgba(150, 157, 249, 0.16);
  padding: 0 !important;
  margin: 0;
  position: absolute;
  left: 65px;
  bottom: 0;
  opacity: 0;
  transform: scale(0);
  transform-origin: bottom right;
  transition: all 0.3s ease 0.1s;
}

.navbar .more-button-list li {
  opacity: 0;
}

.navbar .more-button-list-item {
  display: flex;
  align-items: center;
  color: white;
  padding: 16px;
  border-radius: 4px;
  cursor: pointer;
  position: relative;
  transition: 0.2s ease-in;
  transform: translatex(-10px);
}

.navbar .more-button-list-item:hover {
  color: var(--purple-A700);
}

.navbar .more-button-list-item:after {
  content: "";
  position: absolute;
  height: 1px;
  width: calc(100% - 24px);
  left: 12px;
  bottom: 0;
  background-color: rgba(132, 160, 244, 0.1);
}

.navbar .more-button-list-item:last-child:after {
  display: none;
}

.navbar .more-button-list-item svg {
  width: 18px;
  height: 18px;
}

.navbar .more-button-list-item span {
  display: inline-block;
  line-height: 20px;
  font-family: "Comfortaa", cursive;
  font-size: 14px;
  margin-left: 8px;
}

@keyframes onePulse {
  0% {
    box-shadow: 0px 0px 0px 0px rgba(92, 103, 255, 0.3);
  }
  50% {
    box-shadow: 0px 0px 0px 12px rgba(92, 103, 255, 0.1);
  }
  100% {
    box-shadow: 0px 0px 0px 4px rgba(92, 103, 255, 0.3);
  }
}

@keyframes fadeInItem {
  100% {
    transform: translatex(0px);
    opacity: 1;
  }
}

.navbar .menu-icon-wrapper {
  border-radius: 2px;
  width: 20px;
  height: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  transition: transform 330ms ease-out;
}

.paddingbottom {
  padding-bottom: 90px;
}

/* Home */
#home {
  font-family: "Comfortaa", cursive;
  width: 100vw;
  overflow-x: hidden;
}

#home h1 {
  color: white;
  font-size: 96px;
  font-weight: 700;
}

#home h2 {
  color: #dcdcdc;
  font-size: 44px;
  font-weight: 700;
}

#home .typing-text::after {
  content: "|";
  animation: blink ease 1s infinite;
}

@keyframes blink {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

#home h6 {
  color: #7c7c7c;
  font-size: 24px;
  font-weight: 600;
  text-transform: uppercase;
}

#home p.description {
  color: #dcdcdc;
  font-size: 24px;
  font-weight: normal;
}

#home h1::selection {
  color: white;
}

#home h1::-moz-selection {
  color: white;
}

#home .section {
  width: 100vw;
  position: relative;
}

#home .sectionWrapper {
  width: 85%;
  margin: auto;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;
  background-color: rgba(65, 65, 65, 0.5);
  padding: 20px;
  border-radius: 20px;
  border: 2px solid #b934ff;
  box-shadow: 0 0 20px black;
}

#home .background {
  width: 100vw;
  height: 100vh;
  min-height: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#home .header {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

#home .headerWrapper {
  text-align: center;
  position: relative;
  padding: 56px 71px 128px 108px;
}

#home .headerWrapper h2 {
  animation: 1s fadeIn ease;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#home .headerWrapper h1 {
  animation: 1.5s fadeInTitle ease;
}

@keyframes fadeInTitle {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#home .services h6 {
  margin-bottom: 5px;
}

#home .services h2 {
  margin-bottom: 15px;
}

#home .services .description {
  margin-bottom: 60px;
  width: 685px;
  line-height: 40px;
}

#home .services .grid {
  display: grid;
  grid-template-columns: 500px 500px;
  grid-column-gap: 130px;
  grid-template-rows: 150px 150px;
  grid-row-gap: 30px;
}

#home .services .grid .card {
  width: 420px;
  padding: 43px 40px;
  background: linear-gradient(to bottom right, #313131, #0f0f0f);
  border-radius: 5px;
  display: block;
}

#home .services .grid .card h3 {
  color: white;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 5px;
}

#home .services .grid .card p {
  color: #c3c3c3;
  font-size: 22px;
  font-weight: normal;
}

@media (max-width: 1280px) {
  #home .services .grid {
    display: grid;
    grid-template-columns: 500px 500px;
    grid-column-gap: 50px;
    grid-template-rows: 150px 150px;
    grid-row-gap: 30px;
  }
}

@media (max-width: 1200px) {
  #home .services .grid {
    display: grid;
    grid-template-columns: 480px;
    grid-template-rows: 150px 150px;
    grid-row-gap: 30px;
  }

  #home .services .grid .card {
    width: 420px;
    padding: 43px 40px;
    background: linear-gradient(to bottom right, #313131, #0f0f0f);
    border-radius: 5px;
  }
}

@media (max-width: 850px) {
  #home h6 {
    font-size: 16px;
  }

  #home h2 {
    font-size: 24px;
  }

  #home .services .description {
    font-size: 18px;
    width: initial;
  }

  #home .services .grid {
    display: grid;
    grid-template-columns: 85%;
    grid-template-rows: initial;
    grid-row-gap: 25px;
  }

  #home .services .grid .card {
    width: 100%;
    padding: 31.5px 30px;
    background: linear-gradient(to bottom right, #313131, #0f0f0f);
    border-radius: 5px;
  }

  #home .services .grid .card h3 {
    color: white;
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 5px;
  }

  #home .services .grid .card p {
    color: #c3c3c3;
    font-size: 20px;
    font-weight: normal;
  }
}

@media (max-width: 850px) and (min-width: 440px) {
  #home .headerWrapper {
    position: static;
    padding: 0;
  }

  #home h6 {
    font-size: 22px;
  }

  #home .headerWrapper h1 {
    color: white;
    font-size: 56px;
    font-weight: 700;
    animation: 1.5s fadeInTitle ease;
  }
}

@media (max-width: 440px) {
  #home .background {
    width: 100vw;
    height: 100vh;
  }

  #home .headerWrapper {
    position: static;
    padding: 0;
  }

  #home .headerWrapper h6 {
    color: #7c7c7c;
    font-size: 22px;
    font-weight: 600;
    text-transform: uppercase;
    animation: 1s fadeIn ease;
  }

  #home .headerWrapper h1 {
    color: white;
    font-size: 48px;
    font-weight: 700;
    animation: 1.5s fadeInTitle ease;
  }
}

#home .btn {
  display: block;
  padding: 10px 40px;
  margin: 10px auto;
  font-family: "Comfortaa", cursive;
  font-size: 1.1rem;
  font-weight: 700;
  border-radius: 4px;
  border: none;
  outline: none;
  text-decoration: none;
  color: #fff;
  background: #2e004f;
  box-shadow: 0 6px 30px rgba(0, 0, 0, 0.1);
  border: 1px solid #2e004f;
  cursor: pointer;
  position: absolute;
  bottom: 10px;
  left: 10%;
  right: 10%;
}

#home .btn:hover,
#home .btn:focus,
#home .btn:active,
#home .btn:visited {
  transition-timing-function: cubic-bezier(0.6, 4, 0.3, 0.8);
  animation: gelatine 0.5s 1;
}

@keyframes gelatine {
  0%,
  100% {
    transform: scale(1, 1);
  }
  25% {
    transform: scale(0.9, 1.1);
  }
  50% {
    transform: scale(1.1, 0.9);
  }
  75% {
    transform: scale(0.95, 1.05);
  }
}

#home .slider-designe,
#home .slider-designe > div {
  background-position: center center;
  display: block;
  width: 100%;
  aspect-ratio: 6/4;
  /* height: 100vh; */ /* If you want fullscreen */
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #2e004f;
  overflow: hidden;
  -moz-transition: transform 0.4s;
  -o-transition: transform 0.4s;
  -webkit-transition: transform 0.4s;
  transition: transform 0.4s;
  border-radius: 10px;
  box-shadow: 0 0 20px black;
}

@media (max-width: 850px) {
  #home .slider-designe,
  #home .slider-designe > div {
    aspect-ratio: 5/6;
  }
}
#home .slider-designe > div {
  position: absolute;
}

#home .slider-designe > i {
  color: white;
  position: absolute !important;
  font-size: 60px;
  margin: 20px;
  top: 40%;
  text-shadow: 0 10px 2px #2e004f;
  transition: 0.3s;
  width: 30px;
  padding: 10px 13px;
  background: #2e004f;
  cursor: pointer;
  line-height: 0;
  box-sizing: content-box !important;
  border-radius: 3px;
  z-index: 4 !important;
}

#home .slider-designe > i svg {
  margin-top: 3px;
  fill: white;
}

#home .slider-designe > .left {
  left: -100px;
}
#home .slider-designe > .right {
  right: -100px;
}
#home .slider-designe:hover > .left {
  left: 0;
}
#home .slider-designe:hover > .right {
  right: 0;
}

#home .slider-designe > i:hover {
  background: rgba(46, 0, 79, 0.5);
  transform: translateX(-2px);
}

#home .slider-designe > i.right:hover {
  transform: translateX(2px);
}

#home .slider-designe > i.right:active,
#home .slider-designe > i.left:active {
  transform: translateY(1px);
}

#home .slider-designe:hover > div {
  transform: scale(1.01);
}

#home .hoverZoomOff:hover > div {
  transform: scale(1);
}

#home .slider-designe > ul {
  position: absolute;
  bottom: 10px;
  left: 50%;
  z-index: 4;
  padding: 0;
  margin: 0;
  transform: translateX(-50%);
}

#home .slider-designe > ul > li {
  padding: 0 !important;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  list-style: none !important;
  float: left;
  margin: 10px 10px 0 !important;
  cursor: pointer;
  border: 1px solid #2e004f;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#home .slider-designe > ul > .showli {
  background-color: #2e004f;
  -moz-animation: boing 0.5s forwards;
  -o-animation: boing 0.5s forwards;
  -webkit-animation: boing 0.5s forwards;
  animation: boing 0.5s forwards;
}

#home .slider-designe > ul > li:hover {
  background-color: #2e004f;
}

#home .slider-designe > .show {
  z-index: 1;
}

#home .hideDots > ul {
  display: none;
}

#home .showArrows > .left {
  left: 0;
}

#home .showArrows > .right {
  right: 0;
}

@keyframes boing {
  0% {
    transform: scale(1.2);
  }
  40% {
    transform: scale(0.6);
  }
  60% {
    transform: scale(1.2);
  }
  80% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(1);
  }
}

#home .testimonials {
  position: relative;
  margin-top: 30px;
}
#home .testimonials h2 {
  font-size: 40px;
  text-align: center;
  color: #fff;
}
@media (max-width: 850px) {
  #home .testimonials h2 {
    font-size: 24px;
  }
}
#home .testimonials .owl-stage-outer {
  padding: 30px 0;
}
#home .testimonials .owl-nav {
  display: none;
}
#home .testimonials .owl-dots {
  text-align: center;
}
#home .testimonials .owl-dots span {
  position: relative;
  height: 10px !important;
  width: 10px !important;
  border-radius: 50% !important;
  display: block;
  background: #2e004f !important;
  border: 2px solid #2e004f !important;
  margin: 0 5px !important;
}
#home .testimonials .owl-dots .active {
  box-shadow: none;
}
#home .testimonials .owl-dots .active span {
  background: #2e004f;
  box-shadow: none;
  height: 12px;
  width: 12px;
  margin-bottom: -1px;
}
#home .testimonials .card {
  background: #414141;
  box-shadow: 0 8px 30px -7px black;
  margin: 0 20px;
  padding: 0 10px;
  border-radius: 20px;
  border: 0;
}
#home .testimonials .card .card-img-top {
  max-width: 100px;
  border-radius: 50%;
  margin: 15px auto 0;
  box-shadow: 0 8px 20px -4px black;
  width: 100px;
  height: 100px;
}
#home .testimonials .card h5 {
  color: #b934ff;
  font-size: 21px;
  line-height: 1.3;
}
#home .testimonials .card h5 span {
  font-size: 18px;
  color: #a8a8a8;
}
#home .testimonials .card p {
  font-size: 18px;
  color: #7c7c7c;
  padding-bottom: 15px;
}
#home .testimonials .active {
  opacity: 0.5;
  transition: all 0.3s;
}
#home .testimonials .center {
  opacity: 1;
}
#home .testimonials .center h5 {
  font-size: 24px;
}
#home .testimonials .center h5 span {
  font-size: 20px;
}
#home .testimonials .center .card-img-top {
  max-width: 100%;
  height: 120px;
  width: 120px;
}
@media (max-width: 767px) {
  #home .testimonials {
    margin-top: 20px;
  }
}
#home .testimonials .owl-carousel .owl-nav button.owl-next,
#home .testimonials .owl-carousel .owl-nav button.owl-prev {
  outline: 0;
}
#home .testimonials .owl-carousel button.owl-dot {
  outline: 0;
}

#home .gif {
  border-radius: 20px;
  width: 300px;
  position: absolute;
  border-radius: 20px;
  border: 3px dotted #b934ff;
  box-shadow: 0 0 20px black;
  z-index: 4;
}

@media (max-width: 1100px) {
  #home .gif {
    width: 150px;
  }
}

#home .gif.news1 {
  right: 25px;
  top: 30px;
  rotate: -15deg;
}

#home .gif.news2 {
  right: 180px;
  top: 120px;
  rotate: 25deg;
}

#home .gif.review1 {
  left: 20px;
  top: -40px;
  rotate: -25deg;
}

#home .gif.review2 {
  right: 120px;
  top: -10px;
  rotate: 5deg;
}

@media (max-width: 1800px) {
  #home .gif.news1 {
    right: -25px;
    top: 20px;
    rotate: -15deg;
  }

  #home .gif.news2 {
    right: 80px;
    top: 170px;
    rotate: 25deg;
  }

  #home .gif.review1 {
    left: -50px;
    top: -40px;
    rotate: -25deg;
  }

  #home .gif.review2 {
    right: -30px;
    top: -10px;
    rotate: 5deg;
  }
}

@media (max-width: 1400px) {
  #home .gif.news1 {
    right: -55px;
    top: -20px;
    rotate: -15deg;
  }

  #home .gif.news2 {
    right: -40px;
    top: 170px;
    rotate: 25deg;
  }

  #home .gif.review1 {
    left: -120px;
    top: -40px;
    rotate: -25deg;
  }

  #home .gif.review2 {
    right: -120px;
    top: -10px;
    rotate: 5deg;
  }
}

@media (max-width: 1100px) {
  #home .gif.news1 {
    right: -55px;
    top: -20px;
    rotate: -15deg;
  }

  #home .gif.news2 {
    right: -45px;
    top: 215px;
    rotate: 25deg;
  }

  #home .gif.review1 {
    left: -45px;
    top: 75px;
    rotate: -25deg;
  }

  #home .gif.review2 {
    right: -75px;
    top: -10px;
    rotate: 5deg;
  }
}

@media (max-width: 850px) {
  #home .gif.news1 {
    right: -55px;
    top: -20px;
    rotate: -15deg;
  }

  #home .gif.news2 {
    right: -45px;
    top: 415px;
    rotate: 25deg;
  }

  #home .gif.review1 {
    left: -45px;
    top: 75px;
    rotate: -25deg;
  }

  #home .gif.review2 {
    right: -35px;
    top: 65px;
    rotate: 5deg;
  }
}
/* About */
.about {
  font-family: "Comfortaa", cursive;
  width: 100vw;
  overflow-x: hidden;
}

.about h1 {
  color: white;
  font-size: 96px;
  font-weight: 700;
}

.about h2 {
  color: #dcdcdc;
  font-size: 44px;
  font-weight: 700;
}

.about h3 {
  color: #dcdcdc;
  font-size: 24px;
  font-weight: 700;
}
@media (max-width: 765px) {
  .about h1 {
    color: white;
    font-size: 66px;
    font-weight: 700;
  }

  .about h2 {
    color: #dcdcdc;
    font-size: 24px;
    font-weight: 700;
  }

  .about h3 {
    color: #dcdcdc;
    font-size: 14px;
    font-weight: 700;
  }
}
.about .section {
  width: 100vw;
  position: relative;
}

.about .sectionWrapper {
  width: 85%;
  margin: auto;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  background-color: rgba(65, 65, 65, 0.5);
  padding: 20px;
  border-radius: 20px;
  border: 2px solid #fcff25;
  box-shadow: 0 0 20px black;
}

.about .donate {
  position: relative;
  width: 96%;
  border-radius: 5px;
  min-width: 240px;
  margin-top: 20px;
}
.about .donate input[name="tab-control"] {
  display: none;
}
.about .donate .content section h2,
.about .donate ul li label {
  font-weight: bold;
  font-size: 18px;
}
.about .donate ul {
  list-style-type: none;
  padding-left: 0;
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
  justify-content: space-between;
  align-items: flex-end;
  flex-wrap: wrap;
}
.about .donate ul li {
  box-sizing: border-box;
  flex: 1;
  width: 25%;
  padding: 0 10px;
  text-align: center;
}
.about .donate ul li label {
  transition: all 0.3s ease-in-out;
  color: #929daf;
  padding: 5px auto;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  white-space: nowrap;
  -webkit-touch-callout: none;
}
.about .donate ul li label br {
  display: none;
}
.about .donate ul li label svg {
  fill: #929daf;
  height: 1.2em;
  vertical-align: bottom;
  margin-right: 0.2em;
  transition: all 0.2s ease-in-out;
}
.about .donate ul li label:hover,
.about .donate ul li label:focus,
.about .donate ul li label:active {
  outline: 0;
  color: #bec5cf;
}
.about .donate ul li label:hover svg,
.about .donate ul li label:focus svg,
.about .donate ul li label:active svg {
  fill: #bec5cf;
}
.about .donate .slider {
  position: relative;
  width: 25%;
  transition: all 0.33s cubic-bezier(0.38, 0.8, 0.32, 1.07);
}
.about .donate .slider .indicator {
  position: relative;
  width: 50px;
  max-width: 100%;
  margin: 0 auto;
  height: 4px;
  background: #428bff;
  border-radius: 1px;
}
.about .donate .content {
  margin-top: 30px;
}
.about .donate .content section {
  display: none;
  animation-name: donatecontent;
  animation-direction: normal;
  animation-duration: 0.3s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
  line-height: 1.4;
  color: white;
}
.about .donate .content section h2 {
  display: none;
}
.about
  .donate
  input[name="tab-control"]:nth-of-type(1):checked
  ~ ul
  > li:nth-child(1)
  > label {
  cursor: default;
  color: #428bff;
}
@media (max-width: 600px) {
  .about
    .donate
    input[name="tab-control"]:nth-of-type(1):checked
    ~ ul
    > li:nth-child(1)
    > label {
    background: rgba(0, 0, 0, 0.08);
  }
}
.about .donate input[name="tab-control"]:nth-of-type(1):checked ~ .slider {
  transform: translateX(0%);
}
.about
  .donate
  input[name="tab-control"]:nth-of-type(1):checked
  ~ .slider
  .indicator {
  background: #428bff;
}
.about
  .donate
  input[name="tab-control"]:nth-of-type(1):checked
  ~ .content
  > section:nth-child(1) {
  display: block;
}
.about
  .donate
  input[name="tab-control"]:nth-of-type(2):checked
  ~ ul
  > li:nth-child(2)
  > label {
  cursor: default;
  color: #f7931a;
}
@media (max-width: 600px) {
  .about
    .donate
    input[name="tab-control"]:nth-of-type(2):checked
    ~ ul
    > li:nth-child(2)
    > label {
    background: rgba(0, 0, 0, 0.08);
  }
}
.about .donate input[name="tab-control"]:nth-of-type(2):checked ~ .slider {
  transform: translateX(100%);
}
.about
  .donate
  input[name="tab-control"]:nth-of-type(2):checked
  ~ .slider
  .indicator {
  background: #f7931a;
}
.about
  .donate
  input[name="tab-control"]:nth-of-type(2):checked
  ~ .content
  > section:nth-child(2) {
  display: block;
}
.about
  .donate
  input[name="tab-control"]:nth-of-type(3):checked
  ~ ul
  > li:nth-child(3)
  > label {
  cursor: default;
  color: #f4ce26;
}
@media (max-width: 600px) {
  .about
    .donate
    input[name="tab-control"]:nth-of-type(3):checked
    ~ ul
    > li:nth-child(3)
    > label {
    background: rgba(0, 0, 0, 0.08);
  }
}
.about .donate input[name="tab-control"]:nth-of-type(3):checked ~ .slider {
  transform: translateX(200%);
}
.about
  .donate
  input[name="tab-control"]:nth-of-type(3):checked
  ~ .slider
  .indicator {
  background: #f4ce26;
}
.about
  .donate
  input[name="tab-control"]:nth-of-type(3):checked
  ~ .content
  > section:nth-child(3) {
  display: block;
}
.about
  .donate
  input[name="tab-control"]:nth-of-type(4):checked
  ~ ul
  > li:nth-child(4)
  > label {
  cursor: default;
  color: white;
}
.about
  .donate
  input[name="tab-control"]:nth-of-type(4):checked
  ~ ul
  > li:nth-child(4)
  > label
  svg {
  fill: white;
}
@media (max-width: 600px) {
  .about
    .donate
    input[name="tab-control"]:nth-of-type(4):checked
    ~ ul
    > li:nth-child(4)
    > label {
    background: rgba(0, 0, 0, 0.08);
  }
}
.about .donate input[name="tab-control"]:nth-of-type(4):checked ~ .slider {
  transform: translateX(300%);
}
.about
  .donate
  input[name="tab-control"]:nth-of-type(4):checked
  ~ .slider
  .indicator {
  background: white;
}
.about
  .donate
  input[name="tab-control"]:nth-of-type(4):checked
  ~ .content
  > section:nth-child(4) {
  display: block;
}
@keyframes donatecontent {
  from {
    opacity: 0;
    transform: translateY(5%);
  }
  to {
    opacity: 1;
    transform: translateY(0%);
  }
}
@media (max-width: 1000px) {
  .about .donate ul li label {
    white-space: initial;
  }
  .about .donate ul li label br {
    display: initial;
  }
  .about .donate ul li label svg {
    height: 1.5em;
  }
}
@media (max-width: 600px) {
  .about .donate ul li label {
    padding: 5px;
    border-radius: 5px;
  }
  .about .donate ul li label span {
    display: none;
  }
  .about .donate .slider {
    display: none;
  }
  .about .donate .content {
    margin-top: 20px;
  }
  .about .donate .content section h2 {
    display: block;
  }
}
.about .donate .menubutton {
  display: flex;
  flex-direction: row;
}
.about .donate .button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  width: 200px;
  height: 40px;
  border-radius: 50px;
  margin-top: 10px;
  margin-left: 10px;
}
.about .donate .button span {
  margin-left: 10px;
}
@media all and (max-width: 500px) {
  .about .donate .menubutton {
    flex-direction: column;
  }
}

.about .donate .card-wrap {
  margin-top: 10px;
}
.about .donate .card-wrap .tabs-wrap {
  position: relative;
  height: 100%;
}
.about .donate .card-wrap .tabs-wrap .tabs-nav {
  display: flex;
  flex-direction: flex-row;
  align-items: center;
  justify-content: stretch;
  position: relative;
  overflow: hidden;
  border-radius: 50px;
  border: 1px solid #bdbf1b;
}
.about .donate .card-wrap .tabs-wrap .tabs-nav > button {
  flex: 1;
  display: block;
  cursor: pointer;
  text-align: center;
  padding: 0.8em 0;
  background-color: rgba(70, 71, 0, 0.5);
  border: none;
  font-weight: bold;
  font-size: 18px;
  color: #bdbf1b;
}
.about .donate .card-wrap .tabs-wrap .tabs-nav > button:hover {
  background-color: rgba(70, 71, 0, 0.7);
}
.about .donate .card-wrap .tabs-wrap .tabs-nav > button.active {
  background-color: #464700;
}
.about .donate .card-wrap .tabs-wrap .tabs-info {
  min-height: 100px;
  padding-top: 1em;
  display: block;
}
.about .donate .card-wrap .tabs-wrap .tabs-info .tabs-info-row {
  display: flex;
  flex-direction: flex-row;
  align-items: center;
  justify-content: stretch;
  margin-bottom: 1em;
  padding: 0 1em;
}
.about .donate .card-wrap .tabs-wrap .tabs-info .tabs-info-row .tabs-info-qr {
  margin-right: 1em;
}
.about
  .donate
  .card-wrap
  .tabs-wrap
  .tabs-info
  .tabs-info-row
  .tabs-info-qr
  > img {
  display: block;
  border-radius: 20%;
}
.about
  .donate
  .card-wrap
  .tabs-wrap
  .tabs-info
  .tabs-info-row
  .tabs-info-title {
  font-size: 200%;
  margin-bottom: 10px;
}
.about .donate .card-wrap .tabs-wrap .tabs-info .tabs-info-input {
  display: flex;
  flex-direction: flex-row;
  align-items: center;
  justify-content: stretch;
  background-color: #464700;
  padding: 0.75em 1em;
  box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.4);
  border-radius: 50px;
}
.about .donate .card-wrap .tabs-wrap .tabs-info .tabs-info-input > span {
  margin-right: 1em;
  font-weight: bold;
}
.about .donate .card-wrap .tabs-wrap .tabs-info .tabs-info-input > input {
  flex: 1;
  margin-right: 1em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-weight: bold;
  color: black;
  font-size: 14px;
  border-radius: 50px;
  border: none;
  padding: 5px;
}
.about .donate .card-wrap .tabs-wrap .tabs-info .tabs-info-input > button {
  cursor: pointer;
  font-weight: bold;
  font-size: 14px;
  background-color: #464700;
  color: #bdbf1b;
  border: none;
  border-radius: 50px;
  padding: 5px 10px 5px 10px;
}
@media all and (max-width: 500px) {
  .about .donate .card-wrap .tabs-wrap .tabs-info .tabs-info-row {
    flex-direction: column;
  }
}
.about .faq-summary {
  display: inline-block;
  float: left;
  width: 100%;
}
.about .faq-title-main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 10px;
}
.about .faq-item {
  display: inline-block;
  width: 100%;
  float: left;
  padding: 16px 0;
  color: white;
  font-weight: bold;
}
.about .faq-item:last-child {
  border-bottom: 0;
}
.about .faq-title {
  cursor: pointer;
  font-size: 1.1rem;
}
.about .faq-title .faq-ask-title {
  width: calc(100% - 20px);
  display: inline-block;
  margin-right: 20px;
}

.about .faq-item .faq-content {
  display: none;
  font-weight: 100;
  margin-top: 10px;
  background: #464700;
  padding: 20px;
  font-size: 0.8rem;
  line-height: 1.8rem;
  border-radius: 10px;
  color: #fcff25;
}

.about .faq-item .faq-content .faq_read_more {
  color: black;
  background-color: #fcff25;
  padding-left: 10px;
  padding-right: 10px;
  cursor: pointer;
  border-radius: 10px;
  text-decoration: none;
  margin-top: 10px;
  display: inline-block;
  overflow: hidden;
}

.about .faq-item .faq-content .faq_read_more p {
  display: inline-block;
}

.about .faq-item .faq-content a {
  color: white;
  text-decoration: none;
}

.about .faq-item .faq-content .faq_read_more i {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  margin-left: 10px;
  font-size: 1.2rem;
  display: inline-block;
}

.about .faq-active {
  color: #fcff25 !important;
}
.about .faq-icon {
  width: 15px;
  height: 15px;
  display: inline-block;
  position: relative;
  float: right;
}

.about .faq-line {
  width: 100%;
  height: 2px;
  background: white;
  position: absolute;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
}
.about .faq-line:nth-child(1) {
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
}
.about .faq-line:nth-child(2) {
  top: 50%;
  transform: translateY(-50%) rotate(90deg);
  -webkit-transform: translateY(-50%) rotate(90deg);
  -moz-transform: translateY(-50%) rotate(90deg);
  left: 0;
}

.about .faq-icon-open .faq-line:nth-child(1),
.about .faq-icon-open .faq-line:nth-child(2) {
  left: 0 !important;
  transform: translateY(-50%) rotate(0deg) !important;
  -webkit-transform: translateY(-50%) rotate(0deg) !important;
  -moz-transform: translateY(-50%) rotate(0deg) !important;
  background-color: #fcff25 !important;
}
/* News */
*.lock {
  overflow: hidden;
}

.news {
  font-family: "Comfortaa", cursive;
}

.news {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px;
}
.news h1 {
  font-size: 50px;
  color: white;
}

.news .list-wrapper {
  position: static;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
}

.news .list-wrapper .modificationstitle {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px;
}

.news .list-wrapper .modificationstitle h1 {
  font-size: 50px;
  color: white;
}

.news .cards-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
  padding: 15px 15px 20px;
  padding-bottom: calc(20px + env(safe-area-inset-bottom));
  max-width: 100%;
  margin: auto;
}

.news .card {
  position: relative;
  height: 45vh;
  width: 300px;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 0 20px black;
  transition: opacity 0.2s ease, box-shadow 0.2s ease;
  opacity: 1;
  margin: 10px;
}

.news .card.open {
  border-radius: 0;
}

.news .card.hover,
.news .card:hover {
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}

.news .card-content {
  position: relative;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0);
  overflow: hidden;
  transition: border-radius 0.15s ease;
  border-radius: 20px;
  cursor: pointer;
}

.news .card.open .card-content {
  z-index: 500 !important;
  background: #fff;
  border-radius: 0px;
  cursor: default;
}

.news .banner-holder {
  position: absolute;
  width: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.news .banner {
  position: relative;
  height: 20vh;
  width: 100%;
  padding: 15px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: transparent;
  overflow: hidden;
  z-index: 1;
}

.news .card.open .banner {
  height: 45vh;
  border-radius: 0;
}

.news .content-holder {
  max-width: 600px;
  padding: 0;
  z-index: 1;
  height: 100%;
  background-color: transparent;
  overflow: hidden;
  position: relative;
}

.news .card.open .content-holder {
  overflow: auto;
}

.news .card.open .content-holder::-webkit-scrollbar {
    background-color: transparent;
    display: none;
    width: 0px;
}
.news .card.open .content-holder::-webkit-scrollbar-thumb {
    background-color: transparent;
    display: none;
    width: 0px;
}
.news .card.open .content-holder::-webkit-scrollbar-track {
    background-color: transparent;
    display: none;
    width: 0px;
}

.news .inner-content {
  top: 20vh;
  padding: 20px;
  position: relative;
  background-color: #fff;
}

.news .card.open .inner-content {
  top: 40vh;
  padding-bottom: 170px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.news .info-holder {
  display: flex;
  align-items: center;
}

.news .date-category {
  text-transform: uppercase;
  font-size: 12px;
  opacity: 0.5;
  margin-bottom: 0;
  flex: 1;
  margin: 0 1.4rem 0 0;
}

.news .title {
  position: relative;
  margin: 10px 0 20px 0;
  font-weight: bold;
}

.news .description {
  font-size: 16px;
  line-height: 1.5;
}

.news .description > *:not(.onephoto, .gallery) {
  opacity: 0.6;
}

.news .description .onephoto {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 20px;
}

.news .description .gallery {
  display: grid;
  gap: 20px;
  grid-template-areas: "img1 img1 img2 img3" "img1 img1 img4 img5";
  min-height: 400px;
  margin-top: 40px;
}
.news .description .gallery .image-item {
  min-height: 200px;
  background-color: #eee;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 8px;
  transition: 250ms;
}
.news .description .gallery .image-item:hover {
  opacity: 0.9;
  cursor: pointer;
}
.news .description .gallery .image-1 {
  grid-area: img1;
}
.news .description .gallery .image-2 {
  grid-area: img2;
}
.news .description .gallery .image-3 {
  grid-area: img3;
}
.news .description .gallery .image-4 {
  grid-area: img4;
}
.news .description .gallery .image-5 {
  grid-area: img5;
}
.news .description .gallery .gallery-mask {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100vw;
  height: 100vh;
  padding: 40px;
  background-color: #222 88;
  transition: 500ms;
}
.news .description .gallery .gallery-mask img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  transition: 500ms;
}
.news .description .gallery .mask-off {
  visibility: hidden;
  background-color: #222 0;
}
.news .description .gallery .mask-off img {
  visibility: hidden;
  opacity: 0;
}

.news .description blockquote {
  position: relative;
  margin: 40px 0;
  padding: 40px;
  background-color: #f8f8f8;
  border-radius: 16px;
  width: 99%;
}
.news .description blockquote::before {
  content: url("https://icons.craftwork.design/static/media/QuotesFill.f65b03951f44e212816420b00909f4df.svg");
  position: absolute;
  top: -10px;
  left: -10px;
  transform: scale(2);
  opacity: 0.1;
}
.news .description blockquote::after {
  content: url("https://icons.craftwork.design/static/media/QuotesFill.f65b03951f44e212816420b00909f4df.svg");
  position: absolute;
  bottom: -10px;
  right: -10px;
  transform: scale(2) rotate(180deg);
  opacity: 0.1;
}

.news .card:not(.open) .description {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  height: 4.2em;
}

.news .close-btn {
  position: absolute;
  right: 15px;
  top: 15px;
  height: 28px;
  width: 28px;
  line-height: 27px;
  background: #ff8f8f;
  border-radius: 50%;
  border: 2px dotted red;
  color: black;
  text-align: center;
  cursor: pointer;
  opacity: 0;
  visibility: hidden;
  transition: all 0.15s ease-in-out;
}

.news .close-btn h1 {
  font-size: 20px;
  position: absolute;
  right: 6.5px;
  color: red;
  opacity: 0.9;
}

.news .card.open .close-btn {
  z-index: 600;
  opacity: 0.8;
  visibility: visible;
}

@media (max-width: 670px) {
  .news .card {
    height: 35vh;
    width: 160px;
  }
  .news .date-category {
    font-size: 8px;
  }

  .news .title {
    font-size: 16px;
  }

  .news .description {
    font-size: 13px;
  }

  .news .description .gallery {
    grid-template-areas: "img1 img1" "img1 img1" "img2 img3" "img4 img5";
  }
}

.news .code-box {
  border: 1px solid #ccc;
  background-color: #f9f9f9;
  padding: 10px;
  font-family: monospace;
  white-space: pre;
  overflow-x: auto;
}

.news .copy-button {
  cursor: pointer;
  background-color: #4caf50;
  color: white;
  padding: 5px 10px;
  border: none;
}

.news ol {
  list-style: none;
  padding: 0 !important;
}

.news input[type="radio"] {
  position: absolute;
  left: -9999px;
}

/* FILTERS
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.news .sorts {
  text-align: center;
  margin-top: 2rem;
}

.news .sorts * {
  display: inline-block;
}

.news .sorts label {
  padding: 0.5rem 1rem;
  margin-bottom: 0.25rem;
  border-radius: 2rem;
  border: 1px solid #77dde7;
  min-width: 50px;
  line-height: normal;
  cursor: pointer;
  transition: all 0.1s;
  box-shadow: 0 0 20px black;
  color: #77dde7;
}

.news .sorts label:hover {
  background: #00416a;
  color: #77dde7;
}

/* FILTERING RULES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
[value="All"]:checked ~ .sorts [for="All"],
[value="D3usN0tam"]:checked ~ .sorts [for="D3usN0tam"],
[value="Blocker"]:checked ~ .sorts [for="Blocker"] {
  background: #00416a;
  color: #77dde7;
}

[value="All"]:checked ~ .cards-list [data-category] {
  display: block;
}

[value="D3usN0tam"]:checked ~ .cards-list .card:not([data-category~="D3usN0tam"]),
[value="Blocker"]:checked ~ .cards-list .card:not([data-category~="Blocker"]) {
  display: none;
}
/* Table */
.maintable {
  width: 100%;
  padding: 2em;
  margin-top: 20px;
}
.maintable .text {
  color: rgb(230, 230, 230);
  margin-left: 0px;
}
.maintable .text:hover {
  color: rgb(230, 230, 230);
}
.maintable h1 {
  color: rgb(230, 230, 230) !important;
}

.maintable p {
  color: rgb(230, 230, 230);
}

.maintable table {
  color: rgb(230, 230, 230);
}

.maintable tr .maintable .form-control {
  color: rgb(230, 230, 230);
  background-color: white !important;
}

.maintable .table-hover > tbody > tr:hover {
  background-color: grey !important;
}

.maintable .fixed-table-container {
  background-color: #0000004d;
}
